.signInBtn1{
  padding-left:16px;
  padding-right:16px;
  padding-top:16px;
  padding-bottom:16px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  font-family:Helvetica,Arial,sans-serif;
  color: white;
  background-color: #B9090B;
  margin-left: 1400px;
  min-height:37px;
  border-color: #B9090B;
}

body{
  background-image: url("http://esq.h-cdn.co/assets/15/48/1600x800/landscape-1448482521-rev.jpg");
}

h1{
  color: white;
  font-weight: bold;
  margin-top: 150px;
  margin-left: 100px;
  font-size: 70px;
}


.signUpBtn{
  padding-left:16px;
  padding-right:16px;
  padding-top:16px;
  padding-bottom:16px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  font-family:Helvetica,Arial,sans-serif;
  color: white;
  background-color: #B9090B;
  margin-left: 100px;
  min-width:98px;
  min-height:37px;
  border-color: #B9090B;
}

.header{
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  color: #B9090B;
  font-family: Broadway;
}


h2{
  color: white;
  font-weight: normal;
  margin-left: 100px;
  font-size: 40px;

}

footer{
  margin-top: 250px;
}
